body {
  background-color: orange;
  background-size: 100% 100%;
  display: block;
  height: 100%;
  margin: 0 !important;
  position: relative;
  width: 100%;
}

button {
  background-color: gold;
  font-family: sans-serif;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
}

.post-title {
  background-color: #E8E8E8;
  border-width: 0;
  padding: 10px;
  margin-bottom: 20px;
  width: 400px;
}

.allPostsContainer {
  height: 80%;
  width: 100%;
}

.post {
  background: orange;
  border-radius: 15px;
  display: inline-block;
  float: center;
  height: 20%;
  margin: 2% 2% 2% 2%;
  position: relative;
  width: 100%;
}

.post-left {
  background: #fff;
  border-radius: 15px 0 0 15px;
  color: #000;
  display: table-cell;
  font-weight: bold;
  max-width: 15%;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.post-content {
   border-radius: 0 15px 15px 0;
   background-color: #E8E8E8;
   color: #000000;
   display: table-cell;
   text-align: left;
   padding: 0 20px;
   width: 75%;
}

.post-delete {
  background-color: #E8E8E8;
  color: #000000;
  cursor: pointer;
  display: table-cell;
  float: right;
  padding: 2% 2%;
  text-align: right;
  vertical-align: top;

}

.post-title{
  color: #2b312b;
  font-family: 'Itim', cursive;
  font-weight: bold;
  font-size: 25px;
  height: 25px;
}

.post-more {
  cursor: pointer;
  float: right;
  font-size: 30px;
  font-size: 18px;
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 10px;
}

.post-ellipsis {
  cursor: pointer;
  color: #000;
  display: table-cell;
  float: right;
  font-weight: bold;
  font-size: 18px;
  max-width: 5%;
  text-align: center;
  vertical-align: middle;
  width: 5%;
}

.post-desc {
  height: 100px;
  padding: 0% 0% 2% 0%;
  overflow: hidden;
}

.post-central {
  align: center;
  background-color:blue;
  border-radius: 15px;
  display: inline-block;
  float:center;
  height: 20%;
  position: relative;
  width: 100%;
}

.blog-list-modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  display: none; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 100px; /* Location of the box */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Content */
.blog-list-modal-content {
  align: center;
  background-color: white;
  border: 2%;
  float: top;
  height: 15%;
  margin: auto;
  padding: 2%;
  width: 25%;
}

.blog-modal-text {
  background-color: white;
  float:center;
  font-size: 16px;
  font-weight: bold;
  text-align:center;
}

#blog-list-modal-btn-grp {
  float: center;
  height:20%;
  margin: 5% 5%;
  width:90%;
}

.delete-post-modal-yes {
  background-color: red;
  border:0;
  color: white;
  font-weight: normal;
  float: left;
  margin: 2.5% 2.5%;
  padding: 1% 1%;
  text-align: center;
  width:20%;
}

.delete-post-modal-no {
  background-color: green;
  color: white;
  padding: 1% 1%;
  text-align: center;
  margin: 2.5% 2.5%;
  border:0;
  float: right;
  width:20%;
  font-weight: normal;
}

.row{
    height: 20%;
    float: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.post-wrap {
  background: orange;
  border-radius: 15px;
  display: inline-block;
  float: center;
  margin: 2% 27% 2% 27%;
  position: relative;
}