body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}
.allPostsContainer {
    height: 100%;
    width: 100%;
}
.post {
    position: relative;
    width: 45%;
    height: 20%;
    background: #fff;
    margin: 2% 2% 2% 2%;
    float:center;
    border-radius: 15px;
    display: inline-block
}
    
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 75%;
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;
        overflow: hidden;
}

.post-delete {
        display: table-cell;
        vertical-align: top;
        text-align: right;
        float: right;
        background-color: #E8E8E8;
        color: #000000;
        padding: 2% 2%;
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}

.post-ellipsis {
    float: right;
    cursor: pointer;
    font-size: 18px;
    width: 5%;
    max-width: 5%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #000;

}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
}

.post-central {
    position: relative;
    width: 75%;
    height: 20%;
    background: #fff;
    margin: 5% 5% 5% 5%;
    float:center;
    border-radius: 15px;
    display: inline-block
}

.blog-list-modal {
  display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.blog-list-modal-content {
   background-color: white;
   margin: auto;
   padding: 5%;
   border: 0;
   width: 25%;
   height: 5%;
   float: center;
}


.blog-modal-text{
    background-color: white;
    float:center;
    text-align:center;
    font-size: 14px;
}

#blog-list-modal-btn-grp {
    width:90%;
    height:20%;
    margin: 5% 5%;
    float: center
}
#delete-post-modal-yes {
    background-color: red;
    foreground-color:red;
    color: white;
    padding: 2.5% 2.5%;
    text-align: center;
    margin: 2.5% 2.5%;
    border:0;
    float: left;
}

#delete-post-modal-no {
    background-color: green;
    color: white;
    padding: 2.5% 2.5%;
    text-align: center;
    margin: 2.5% 2.5%;
    /*font-size: large;*/
    border:0;
    float: right;
