/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
#header-page-title {
    /*float: left;*/
    font-size: 40px;
    font-family: Satisfy, cursive;
    color:  mediumblue;
    margin-left: 2%;
}

#header-title {
    float: left;
    font-size: 15px;
    font-family: Satisfy,cursive;
    color:  white;
    margin-left: 2%;
}

#header-sub-heading {
    font-size: 15px;
}

#header-login {
    float: right;
    margin-right: 8px;
    margin-top: 5px;
}

#header-btn-grp {
    /*background-color: blue;*/
    width:20%;
    height:10%;
    margin: 1% 0%;
    /*border-width: 1.5px;*/
   /* text-align: center;
    font-size: small;*/
    float: right
}
#sign-in-btn {
    background-color: blue;
    color: white;
    padding: 5% 5%;
    width:40%;
    /*border-width: 1.5px;*/
    text-align: center;
    /*font-size: large;*/
    margin: 2.5% 2.5%;
    border:0;
    /*float: right*/
}

#sign-up-btn {
    background-color: blue;
    color: white;
    width:40%;
    padding: 5% 5%;
    /*border-width: 1.5px;*/
    text-align: center;
    margin: 2.5% 2.5%;
    /*font-size: large;*/
    border:0;
    /*float: right*/
}