/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
.header {
}

.header .page-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: left;
    margin-left: 5px;
}

.header .page-title .title {
    font-size: 40px;
    color:  mediumblue;
    font-family: Satisfy, cursive;
}

.header .page-title .sub-heading {
    font-size: 15px;
    font-weight: lighter;
    font-family: Satisfy, cursive;
}

.header .login {
    float: right;
    margin-right: 8px;
    margin-top: 5px;
}

.header .login button {
    color: white;
    background-color: blue;
    padding: 10px 17px;
    border-width: 1.5px;
    text-align: center;
    font-size: smaller;
    font-weight: normal;
}

.header .login .sign-in {
    margin-right: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.header-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0 15px 1px 15px;
    border: 1px solid #888;
    width: 22%;
    min-height: 70%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.submit-btn {
    background-color: rgb(34,174,34);
    color: #fff;
    padding: 4%;
    font-size: smaller;
    margin-top: 30px;
    border-width: 0px;
    cursor: pointer;
}

.header-input {
    padding: 3%;
    background-color: #E8E8E8;
    border-width: 0px;
}

label {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}

.modal-title {
    alignment: center;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-family: 'Abel', sans-serif;
}

h4 {
    margin: 40px 20px;
    text-align: center;
    font-family:'Abel', sans-serif;
}
.sign-up-link {
    color: blue;
    cursor: pointer;
}

::-webkit-input-placeholder {
    font-family:'Abel', sans-serif;
}
::-moz-placeholder {
    font-family:'Abel', sans-serif;
}
:-ms-input-placeholder {
    font-family:'Abel', sans-serif;
}
::placeholder {
    font-family:'Abel', sans-serif;
}